/*
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  padding: 0;
  background-size: center;
  background: #282a36 url(@site/static/img/nuclearsunsetbanner.png) center center no-repeat;
}

@media screen {
  .heroBanner {
    padding: 2rem;
    background-size: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
