/*
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background: #282a36 url("/static/img/nuclearsunsetbanner.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
